//
// Emphasis Component - Default Settings
// -------------------------------------
// Change in _settings.scss

$emphasis-prefix : "emphasis"                 !default;
$emphasis-el     : #{$emphasis-prefix}#{$el}  !default;
$emphasis-mod    : #{$emphasis-prefix}#{$mod} !default;


.#{$emphasis-mod}more {
  background-color: $color-bg-light;
}

.#{$emphasis-mod}more-small {
  background-color: lighten($color-bg-light, 3%);
}

.#{$emphasis-mod}more-pop {
  @extend .#{$emphasis-mod}more;
  @include box-shadow($default-box-shadow);
}

.#{$emphasis-mod}less {
  background-color: darken($color-bg, 5%);
}



