.form--story {
  cursor: default;
}

// TODO: add form selection

input[type=text].form--story__text {
  background: transparent;
  border: none;
  padding: 0;
  @include box-shadow(none);
  @include inline-block;
  width: auto;
  margin: 0;
  line-height: inherit;
  color: $color-link;
  border-bottom: 2px dashed $light-grey;
}

input[type=text].form--story__button,
.form--story__button {
  background: transparent;
  border: none;
  padding: 0;
  -webkit-appearance: none;
  color: $color-link;
  @include transition($default-transition);
  &:hover {
    color: $color-link-hover;
  }
}

.form--story__radio {

}

.form--story__radio__divider {
  @include opacity(.4);
}

.form--story__radio__label {
  @include opacity(.4);
  text-decoration: line-through;
  cursor: pointer;
  z-index: 0;
}

.form--story__radio__item {
  position: relative;
  input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    @include opacity(0);
    z-index: 1;
    &:checked ~ .form--story__radio__label {
      @include opacity(1);
      text-decoration: none;
    }
  }
}
