{% extends "common/layout.jinja2" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<main role="main" class="emphasis--more l__wrapper">

  <div class="l--push-v-1">
    <form id="form" method="POST" class="form-search form--story" action="/">

      <div class="l--push-top-1">
        <div class="comment--large">
          <p>I remember it well, my favourite subject was </span><input class="form--story__text search-query" type="text" value="Brisbane" name="search_query"/>
          </p>
        </div>
      </div>
      <div class="l--push-top-1 text--align-right">
        <button id="find_button" type="submit" class="form--story__button">continue rambling</button>
      </div>
    </form>
  </div>

{% if twitter_feed %}
  <a class="twitter-timeline" href="https://twitter.com/bewilderson" data-widget-id="341014295133425664">Tweets by @bewilderson</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endif %}

<!--   <form id="form" method="POST" class="form-search" action="/">
      <h3>Bert Search</h3>
      <input type="text" class="input-medium search-query" placeholder="grumpy old man" name="search_query">
      <button id="find_button" type="submit" class="btn">Search</button>
  </form> -->

  <div class="l--push-bottom-2">

  {% for result in search_results.objects %}

    <div class="g l--push-v-1">
      <div class="g__item w--two-thirds w--m-one-half">
        <div class="l--pad-h-1 text--para-margin">
          <p>{{result.text}}</p>
        </div>
      </div>
      <div class="g__item w--one-third w--m-one-half">
        {% if result.text|count >= 100 and result.url %}
          <div class="media--image">
            <img src="{{result.url}}" alt="Test">
          </div>
        {% endif %}
        <div class="text--meta">
          <a href="{{result.database}}/{{result.id}}" title="{{result.db_desc}}">{{result.db_desc}} {% if result.text|count < 100 and result.url %} <i class="icon--picture">icon</i>{% endif %}</a>
        </div>
      </div>
    </div>

    <div class="g l--push-v-1">
      <div class="g__item w--two-thirds w--m-one-whole">
        <div class="comment--medium l--pad-all-1">
          {% for keyword in result.keyword %}
            {{keyword}}
          {% endfor %}
        </div>
      </div>
    </div>

  {% endfor %}

  </div>

</main>

{% endblock %}

