{% extends "common/layout.jinja2" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<main role="main" class="emphasis--more l__wrapper">

  <div class="l--push-v-1">
    <form id="form" method="POST" class="form-search form--story" action="/">

      <div class="l--push-top-1">
        <div class="comment--large">
          <p>I remember it well, my favourite subject was </span><input class="form--story__text search-query" type="text" value="{{search_query}}" name="search_query"/>
          </p>
        </div>
      </div>
      <div class="l--push-top-1 text--align-right">
        <button id="find_button" type="submit" class="form--story__button">ramble</button>
      </div>
    </form>
  </div>

<!--   <form id="form" method="POST" class="form-search" action="/">
      <h3>Bert Search</h3>
      <input type="text" class="input-medium search-query" placeholder="grumpy old man" name="search_query">
      <button id="find_button" type="submit" class="btn">Search</button>
  </form> -->

  <div class="l--push-bottom-2">

  {% for result in search_results.objects %}

    <div class="g l--push-v-1">
      <div class="g__item w--two-thirds w--m-one-half">
        <div class="l--pad-h-1 text--para-margin">
          <p>{{result.text}}</p>
        </div>
      </div>
      <div class="g__item w--one-third w--m-one-half">
        {% if result.text|count >= 100 and result.url %}
          <div class="media--image">
            <a href="{{result.database}}/{{result.id}}">
              <img src="{{result.url}}" alt="Test">
            </a>
          </div>
        {% endif %}
        <div class="text--meta">
          <a href="{{result.database}}/{{result.id}}" title="{{result.db_desc}}">{{result.db_desc}} {% if result.text|count < 100 and result.url %} <i class="icon--picture">icon</i>{% endif %}</a>
        </div>
      </div>
    </div>

    <form><input type="hidden" id="bert-annotate-{{loop.index0}}" value="{{get_kw(result.keyword)}}"></form>
    <div class="bert-annotate"></div>
  {% endfor %}

  </div>

</main>

{% if twitter_feed %}

<div class="l__wrapper footer">
  <footer role="contentinfo" class="l--pad-v-2">
    <div class="g">
      <div class="g__item w--one-half">
        <div class="footer__block">
          <h2 class="delta footer__title">Bert is on Twitter!</h2>
          <ul class="tweet list--link-block list--slat l--push-bottom-1" id="twitter_update_list"></ul>
        </div>
      </div>
      <div class="g__item w--one-half">
        <div class="footer__block">
          <ul class="list--link-block list--slat l--push-bottom-1">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
{% endif %}

{% endblock %}

