{% extends "common/layout.jinja2" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>BrisBert WEBAPP</h1>
          
            <div class="row-fluid">
                <div class="span12">
                    <p>That's nothing, back in <em>my</em> day {{subject}} was...</p>
                </div>
            </div>        
        </div>
    </div>
</div>

{% endblock %}

