{% extends "common/layout.jinja2" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<main role="main" class="emphasis--more l__wrapper">


<!--   <form id="form" method="POST" class="form-search" action="/">
      <h3>Bert Search</h3>
      <input type="text" class="input-medium search-query" placeholder="grumpy old man" name="search_query">
      <button id="find_button" type="submit" class="btn">Search</button>
  </form> -->

  <div class="l--push-top-2 l--push-bottom-1">

    {% if result.url %}
      <div class="media--image l--push-bottom-2">
        <img src="{{result.url}}" alt="Test">
      </div>
    {% endif %}
    <h3>Story/Description</h3>
    <p>{{result.text}}</p>
    <h3>Collected from</h3>
    <p>{{result.db_desc}}</p>
    <h3>Keywords</h3>
    <p>
    {% for keyword in result.keyword %}
      {{keyword}}
    {% endfor %}
    </p>
    <hr>
    <p>Look at you with your fancy <a href="http://www.twitter.com/share?url=http://www.brisbert.com/{{result.database}}/{{result.id}}">sharing on Twitter</a>.</p>

  </div>

</main>

{% endblock %}

