{% extends "common/layout.jinja2" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<main role="main">


<!--   <form id="form" method="POST" class="form-search" action="/">
      <h3>Bert Search</h3>
      <input type="text" class="input-medium search-query" placeholder="grumpy old man" name="search_query">
      <button id="find_button" type="submit" class="btn">Search</button>
  </form> -->

  <div class="l__wrapper l--push-bottom-2">

    <div class="g l--push-v-1">
      <div class="g__item w--two-thirds w--m-one-half">
      {% if result.text|count < 100 and result.url %}
        <div class="media--image">
          <img src="{{result.url}}" alt="Test">
        </div>
      {% else %}
        <p>{{result.text}}</p>
      {% endif %}
      </div>
      <div class="g__item w--one-third w--m-one-half">
        <div class="text--meta">
          <a href="{{result.database}}/{{result.id}}">{{result.db_desc}}</a>
        </div>
        {% if result.text|count >= 100 and result.url %}
          <div class="media--image">
            <img src="{{result.url}}" alt="Test">
          </div>
        {% else %}
          <p>{{result.text}}</p>
        {% endif %}
      </div>
    </div>

    <div class="g -push-v-1">
      <div class="g__item w--two-thirds w--m-one-whole">
        <div class="comment--medium">
          {% for keyword in result.keyword %}
            {{keyword}}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

</main>

{% endblock %}

