{% extends "common/layout.jinja2" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<main role="main" class="emphasis--more l__wrapper">


<!--   <form id="form" method="POST" class="form-search" action="/">
      <h3>Bert Search</h3>
      <input type="text" class="input-medium search-query" placeholder="grumpy old man" name="search_query">
      <button id="find_button" type="submit" class="btn">Search</button>
  </form> -->

  <div class="l--push-v-2">

    {% if result.url %}
      <div class="media--image l--push-bottom-2">
        <img src="{{result.url}}" alt="Test">
      </div>
    {% endif %}
    <p>{{result.text}}</p>
    <p><a href="{{result.database}}/{{result.id}}">{{result.db_desc}}</a></p>
    <p>
    {% for keyword in result.keyword %}
      {{keyword}}
    {% endfor %}
    </p>

    <p><a href="#" onclick="window.history.back()">Back to results</a></p>

  </div>

</main>

{% endblock %}

