<script type="text/javascript">

$(document).ready(function() {
    reloadContent();
});

function reloadContent() {
    $('.bert-annotate').each(function(i){
        kw = $('#bert-annotate-' + i);
        $(this).load('/speak/' + i + '/long/' + kw.val());
    });
}
      
</script>
