<!DOCTYPE html>
<html>
<head>
    <title>VLS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-pagination.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/css/theme.css">

    <!--
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    -->

</head>
<body>

    {% include 'common/header.jinja2' %}
    {% block content %}{% endblock %}
    {% include 'common/footer.jinja2' %}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    {% block js %}{% endblock %}

  </body>
</html>
