<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
    <title>BrisBert | An old guys with a big mouth</title>
  
  <meta name="description" content="">
  <meta name="author" content="Luke Brooker">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta http-equiv="cleartype" content="on">

  <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
  <!-- TODO: Add prefetches -->

  <!-- TODO: Insert logo link -->
  <link rel="logo" type="image/svg" href=""/>

  <!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/style-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/assets/css/style.css">
  <!--<![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!--[if (lt IE 9) & (!IEMobile)]>
  <script src="js/vendor/selectivizr-min.js"></script>
  <![endif]-->

  <!-- JavaScript -->
  <!-- TODO: Replace with minified url -->
  <script src="/assets/js/script.js"></script>

</head>

<body class="off-canvas__outer">
  <div class="off-canvas__target off-canvas--left" id="off-canvas--left" data-off-canvas="under">
    <header class="off-canvas__header">
      <a href="#off-canvas--left" class="off-canvas__close"><span class="is-invisible">Close</span></a>
    </header>
    <nav class="list--slat list--block-links">
      <ul>
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
      </ul>
    </nav>
  </div>
  <div class="off-canvas__inner">
    <header role="banner" class="header">
      <div class="l__wrapper">
        <a href="#off-canvas--left" class="off-canvas__toggle--left  l--float-left">Menu</a>
        
        <h1 class="aplha header__title"><a href="/">BrisBert</a></h1>
        
      </div>
    </header>


  <main role="main">
    {% block content %}{% endblock %}
  </main>

    <footer role="contentinfo" class="l--push--v-2">
      <div class="l__wrapper">

      </div>
    </footer>
  </div>
</body>
</html>
