{% extends "common/layout.jinja2" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<main role="main" class="emphasis--more l__wrapper">

  <div class="l--push-bottom-2">

  <h3>About BrisBert</h3>
  <p>
  BrisBert is Old Man Brisbane. He knows a little about a lot, and he will tell you a lot about everything. Not content to contain his stories to bus stops, post office lines or weekend visits, BrisBert is in the cloud, care of the efforts of a team of GovHack participants.
  </p>

  <p>
  Some say that he immigrated on a leaky ship in Perth, exploring Australia until his shoes wore out in Brisbane. Others say that he was shipwrecked in Moreton Bay long before the first convict settlement, befriending the local indigenous population and trading stories long into the night. Others still claim that he came over for the gold rush, for work in the cane fields, or simply to start an Indie band before anyone in West End did.
  </p>

  <p>
  BrisBert might look like the original hipster, but he was there first, and he's going to tell you all about it.
  </p>

  </div>

</main>

{% endblock %}

