{% extends "common/layout.jinja2" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<main role="main" class="emphasis--more l__wrapper">

  <div class="l--push-bottom-2">

  <h3>About Brisbert</h3>

  </div>

</main>

{% endblock %}

